<!DOCTYPE html>
<html>

<head>
    <title>vNext Application - @ViewBag.Title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
<div id="sidebar">
    <img class="headshot" src="~/img/profileImage.jpg" alt="headshot">
    <span id="username">Oleg Shalygin</span>
    <ul class="menu">
        <li class="active">
            <a asp-controller="App" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="App" asp-action="About">About</a>
        </li>
        <li>
            <a asp-controller="App" asp-action="Contact">Contact</a>
        </li>
    </ul>
</div>
<div id="wrapper">
    <div id="main">
        <div>
            <button id="sidebarToggle">Toggle Menu</button>
        </div>

        <div>
            @RenderBody()
        </div>

    </div>
    <footer>
        &copy; 2015 vNext Application
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/site.js" type="text/javascript"></script>

@RenderSection("Scripts", false)

</body>

</html>