@{
    ViewBag.Title = "Home Page";
}


<div>
    <h2>vNext Application</h2>
    <p>Served from webroot</p>
</div>

<form>
    <div>
        <label for="date">Date:</label>
        <input />
    </div>
    <div>
        <label for="location">Location:</label>
        <input />
    </div>
    <input type="submit" value="Add">
</form>